{% block title %}{% endblock %} ​ ​ ​ {% block content %} ​
<p></p>

<style>
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

  body {
    height: 100%;
    width: 100%;
    font-family: Montserrat;
  }

  body * {
    box-sizing: border-box;
  }

  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 50px;
    text-align: center;
  }

  .logo {
    width: 200px;
    margin: 10px auto;
  }

  .logo img {
    height: auto;
    width: 100%;
  }

  .title {
    margin: 16px 0 32px;
  }

  .title h1 {
    color: #3d2e8f;
    font-size: 20px;
    margin: 0;
  }

  .block {
    margin-bottom: 7px;
    min-height: 80px;
  }

  .name {
    color: rgba(0, 0, 0, 0.45);
    text-align: left;
    font-size: 0.75rem;
  }

  input {
    color: rgba(0, 0, 0, 0.87);
    background: #f0f8ff !important;
    border-radius: 5px;
    height: 59px;
    width: 100%;
    font: 400 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;
    border: 1px solid #d3dae0;
    padding-left: 7px;
  }

  input:focus,
  input:active {
    border: 2px solid #000;
  }
</style>

<div class="container">
  <form action="/changepassword/" method="post">
    {% csrf_token %}
    {{ form.id }}

    <div class="title">
      <h1>PLEASE ENTER YOUR NEW PASSWORD</h1>
    </div>

    <div class="block">
      {{ form.password.errors }}
      <div class="name">
        <label for="id_password">Password:</label>
      </div>
      <div class="value">
        {{ form.password }}
      </div>
    </div>
    <div class="block">
      {{ form.rpassword.errors }}
      <div class="name">
        <label for="id_rpassword">Repeat Password:</label>
      </div>
      <div class="value">
        {{ form.rpassword }}
      </div>
    </div>
      <div class="block">
      {{ form.username.errors }}
      <div class="name">
        <label for="id_username">&nbsp;</label>
      </div>
      <div class="value" style="display:none;">
        {{ form.username }}
      </div>
    </div>
    <input type="submit" class="btn" value="Change" />
  </form>
</div>

{% endblock content %}
