<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{context.context.order}} Action</title>
</head>
<body>
<p>the order has been sent</p>
<ul>
    <li><b>Shipment:</b> {{context.shipment}}</li>
    <li><b>Date Send:</b> {{context.date_send}}</li>
    <li><b>Name:</b> {{context.name_received}}</li>
    <li><b>Mobile Phone:</b> {{context.mobile_phone_received}}</li>
    <li><b>Direction:</b> {{context.direction_received}}</li>
    <li><b>City:</b> {{context.city_received}}</li>
    <li><b>Postal Code:</b> {{context.postal_code_received}}</li>

</ul>

</body>
</html>

